@import "~antd/dist/antd.css";

/* .dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .dynamic-delete-button:hover {
    color: #777;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  } */
.site-layout {
  /* background-color: #00152a; */
}

.logo-box {
  /* borderBottom: "1px solid gray", */
  /* borderRight: "1px solid gray",  */
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid gray; */
}

.header {
  /* background-color: rgb(75, 82, 75); */
  color: white;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.trigger {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
  padding-left: 10px;
}

.loader-box {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: rgb(168, 166, 166);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(127, 131, 127);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(157, 157, 199);
  border-radius: 20px;
  border: 1px solid rgb(93, 90, 86);
}
